/* stylelint-disable-next-line */
@import 'variable';

.layout-header {
  height: 75px;
  border-bottom: solid 2px rgba($border-color, 0.4);

  .logo-box {
    padding-right: 48px;
  }

  .split-line {
    width: 2px;
    height: 25px;
    margin: auto 0;
    background-color: $line-color;
  }

  .link {
    a {
      padding: 0 32px;
      color: $base-bluegrey-color;
      font-weight: 700;
    }
  }

  .dao-account {
    padding: 12px 22px;
    color: $base-black-text-color;
    font-weight: 700;
    background-color: $base-black-bg-color;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $base-black-bg-hover-color;
    }
  }
}
