// 主题色 - primary-color
$cyan-primary-color: #0fbcc0;

// 暗黑模式主题色
$dark-primary-color: #001529;
$dark-bg-color: #002140;

// 主题背景色
$light-cyan-color: #fff;
$light-bg-color: #f8f8f9;

// 辅助色
$sub-yellow-color: #f2d943;
$sub-pink-color: #ff7083;

// 基础色
$base-black-color: #060608;
$base-hover-color: #3b3b3b;
$base-bluegrey-color: #71718a;
$base-block-bg-color: #f1f5f9;
$base-black-bg-color: #131415;
$base-black-bg-hover-color: #3e4144;
$base-black-text-color: #e6e8ec;

// 成功
$success-color: #1dc779;

// 警告
$warn-color: #ffb302;

// 边框色
$border-color: #cecece;
$line-color: #e6e6e7;
